<div class="container">
	<div class="row">
    <form action="/answer/question" method="POST">
		<div class="col-md-12">

        <div class="input-group" id="adv-search">
          <p><%= @question.value %></p>
            <% @question.answers.each do |an| %>
            <div class="radio">
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="<%= an.abbrev %>" checked>
                <%= an.value %>
              </label>
            </div>
          <% end %>
        </div>

      </div>
      <div class="text-center">
      <a href="<%= if @question.id - 1 === 0 
       '#' 
     else
        '/test2/'+(@question.id - 1).to_s end %>" class="btn btn-danger btn-lg">Back</a><button type="submit" class="btn btn-primary btn-lg">
        Submit<button>
    </div>
    </div>
  </form>
  </div>
</div>
            