<h2>Welcome, register to take quiz! </h2>

<form action = "/signup" method ="post">
    <p>
        name: <input type = "text" id="name" name="name" size = "10" placeholder = "name" /> <br/>
        email: <input type = "text" size = "20" id="email" name="email"placeholder = "Email" /> <br/>
        password: <input type = "password" id="password" name="password" size = "20" placeholder = "Password" /> <br/>
        Confirm password: <input type = "password" size = "20" placeholder = "Password" /> <br/>
        <input type ="submit" value='Submit'>
    </p>
</form>